html, body {
    font-size: 16px;
}


/* Timeline styling source: W3C Schools */
* {
  box-sizing: border-box;
}
/* Education Page */

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 30px 0px 50px 0px;
    background: rgb(237,242,247);
    background: radial-gradient(circle, rgba(237,242,247,1) 0%, rgba(58,97,135,1) 50%);
  border: 1px solid ##2e5070;
  border-radius: 10px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #4f80b0;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  border: 1px solid ##fff !important;
}

/* event around content */
.event {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.event::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background: rgb(237,242,247);
    background: radial-gradient(circle, rgba(237,242,247,1) 0%, rgba(58,97,135,1) 50%);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the event to the left */
.left {
  left: 0;
}

/* Place the event to the right */
.right {
  left: 50%;
}

/* Add arrows to the left event (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;

}

/* Add arrows to the right event (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for events on the right side */
.right::after {
  left: -12px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
   -webkit-box-shadow: 0px 3px 5px 0px rgba(46,80,112,1);
-moz-box-shadow: 0px 3px 5px 0px rgba(46,80,112,1);
box-shadow: 0px 3px 5px 0px rgba(46,80,112,1);
}
.work {
    border-bottom: 5px solid #0cc;
}
.qual {
    border-bottom: 5px solid #0a0;
}