@import url('https://fonts.googleapis.com/css?family=Tangerine:wght@400|Exo:wght@500|Ubuntu&display=swap')

/* General styles */

html {
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

body {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #ccc;
}

.nav-margin {
    margin-top: 50px;
}
.view {
    width: 100%;
    min-width: 100vw;
    min-height: 100vh;
    margin-top: 60px;
}

footer {
    border: 1px solid #d5d4d4;
    color: inherit;
    background: linear-gradient(white, #eee 50%, #e4e4e4);
}
.btn-primary {
    background: rgb(0,200,181);
    background: linear-gradient(180deg, rgba(0,200,181,1) 0%, rgba(0,150,136,1) 50%);
    border-color: #005539;
    color: #fff;
}
/* Navbar */

nav {
    -moz-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.5);
}
#title {
    margin-top: 250px;
}
/* Index Page */
.content-bg {
    background: url(../img/Ben_Wyvis.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 90vh;
    min-width: 100vw;
    overflow: hidden;
}
.content-bg:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    min-width: 100vw;
    height: 60%;
    top: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%);
}
.content-wrap { 
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #444;
}
.main-title {
    font-size: 10em;
    font-family: 'Tangerine', cursive;
    text-shadow: 1px 1px 0px #fff;
    font-weight: 400;
    color: #444;
}
.sub-title {
    font-family: 'Marvel', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
}
/* About page */
.about-title {
    font-family: 'Exo', sans-serif;
    font-size: 2.5em;
    font-weight: 500;
    margin: 20px 0px 50px 0px;
}
/* Contact Page */

 input, textarea {
     margin-bottom: 15px;
     line-height: 1.5em;
    -webkit-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,1);
    box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,1);
 }

/* Education Page */
/* Timeline styling source: W3C Schools */
* {
  box-sizing: border-box;
}
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 30px 0px 30px 0px;
    background: rgb(237,242,247);
    background: radial-gradient(circle, rgba(237,242,247,1) 0%, rgba(58,97,135,1) 50%);
    border: 1px solid #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,1);
    box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,1); 
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #4f80b0;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  border: 1px solid ##fff !important;
}

/* event around content */
.event {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.event::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background: rgb(237,242,247);
    background: radial-gradient(circle, rgba(237,242,247,1) 0%, rgba(58,97,135,1) 50%);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the event to the left */
.left {
  left: 0;
}

/* Place the event to the right */
.right {
  left: 50%;
}

/* Add arrows to the left event (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;

}

/* Add arrows to the right event (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for events on the right side */
.right::after {
  left: -12px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
   -webkit-box-shadow: 0px 3px 5px 0px rgba(46,80,112,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(46,80,112,1);
  box-shadow: 0px 3px 5px 0px rgba(46,80,112,1);
}

.work {
    border-bottom: 5px solid #0cc;
}

.qual {
    border-bottom: 5px solid #0a0;
}

/* Experience Page */

.icons {
    background-color: #aaa;
    -webkit-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,1);
    box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,1); 
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
}
.tech-icon {
    display: inline-block;
    font-size: 8rem;
    color: rgba(0,0,0,.6) !important;
    text-shadow: 3px 2px 3px rgba(255,255,255,.2) !important;
    padding-bottom: 20px;
    letter-spacing: normal;
    font-size-adjust: 0.58;
}
.tech-icon:hover {
    color: #009688 !important;
}
.modal-icon {
    color: #009688 !important;
    font-size: 3em !important;
    padding: 0px
    
}
.modal-left {
    padding-left: 0px;
    padding-right: 10px;
}
.modal-header, .modal-footer {
    background-color: #333;
}
.modal-body {
    background-color: #ccc;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.modal-title {
    color: #fff;
}
.modal-subtitle {
    color: #ccc;
}

/* Admin Page */
.admin {
    width: 90%;
    border: 1px solid #fff;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    color: #333;
    background-color: #ccc;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,1);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,1);

}
#create {
    display: none;
    margin: 0px 0px 50px 0px;
    padding: 0px;
    width: 100%;
    padding: 20px 20px 50px 20px;
    border: 1px solid #333;
}

.input-field {
    margin-top: 20px;
}
input, textarea {
    width: 100%;
    padding: 10px;
}
#edit {
    border: 1px solid #fff;
    padding: 20px;
}
.wrapper {
    padding: 20px;
    margin: 20px;
}
.int-wrapper {
    padding: 20px;
    margin: 0px 0px 30px 30px;
}
.int-wrapper h5 {
    margin-bottom: 20px;
}
.existing {
    display: none;
}
.existing-show {
    display: block;
}
.existing {
    border: 1px solid #333;
    padding: 10px 10px 30px 10px;
    margin: 10px 0px 30px 0px;
}

/* Blog Page */
.blog-wrap {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(51,51,51,1) 50%); 
    min-height: 100vh;
    height: 100%;
    margin-top: 60px;
}
.blog-post {
    border: 1px solid #fff;
    margin: 20px auto;
    color: #333;
    background-color: #ccc;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,1);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,1);
}

.blog-title {
    background: #333;
    color: #fff;
    padding: 10px;
    font-size: 1.25em;
}
.author {
    font-size: 0.75em;
    color: #ccc;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.blog-content {
    padding: 10px;
    overflow: hidden;
    max-height: 200px;
    position: relative;
}
.blog-content.expanded {
    max-height: none;
}
.read-more {
    position: absolute;
    right:0;
    bottom:0;
    margin: 10px;
}
.blog-content p {
    margin-bottom: 30px;
}

.blog-footer {
    background-color: #666;
    color: #ccc;
    margin: 0px 0px 0px 0px;
    padding: 10px;
}

/* Media Queries */

@media(max-width: 768px) {
    .content-bg {
    background: url(../img/Ben_Wyvis.jpg) no-repeat;
    background-size: cover;
    background-position: right;
    width: 100%;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}
.content-bg:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    min-width: 100vw;
    height: 30%;
    top: 0;
    background: rgb(125,125,125);
    background: linear-gradient(180deg, rgba(125,125,125,1) 0%, rgba(255,255,255,0) 50%);
}
    .content-wrap {
    margin-top: 50px;
    color: rgba(0,0,0,1);
    }
    #title {
    margin-top: 100px;
}
    .main-title {
    font-size: 5em;
    font-family: 'Tangerine', cursive;
    text-shadow: 1px 1px 0px #fff;
    }
    .sub-title {
    font-size: 1.5em;
    }

}

/* Media queries - Timeline */
@media screen and (max-width: 768px) {
  /* Place the timelime to the left */
  .timeline {
      width: 100%;
  }
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width events */
  .event {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .event::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .event::after, .right::after {
  left: 15px;
  }
  
  /* Make all right events behave like the left ones */
  .right {
  left: 0%;
  }
}

#about, #contact, #education, #experience, #edit {
    padding: 0px;
    min-height: 100vh;
}