<div class="row admin">
<div class="col-sm-12">
<h3 class="about-title">About Me</h3>
<hr/>
</div>
<div class="col-sm-12 col-md-3"><img class="img-fluid" src="/../static/img/Portrait.jpg" alt="Steven A. Horne Portrait"></div>
<div class="col sm-12 col-md-9">
    <p>Hi I'm Steven A. Horne and have been interested in Web Design/Development for the last 20 years.  I first started coding when I was working for a call centre providing assisted travel and with my then employer striving to go paperless a solution was needed for all my team to access contact numbers, station accessibility information etc so following online tutorials I pieced together some web pages stored in a shared area which was a success.<br><br>
    I decided to learn HTML and CSS so I decided to buy a book and learn from scratch which helped me to gain understanding of the basic structure, by the time I bought the book a lot had moved on from my first project, seperate CSS stylesheets being a notable one!  The next project was a website for my cousin who is a mortgage adviser and that site is still online today, link <a href="http://www.helen-mackenzie.co.uk/" target="_blank">here</a>.<br><br>
    After a stint of being unemployed I got an opportunity to join a course to become a full stack web developer at Code Institute, an offer too good to refuse. I look back now on my past projects and think how differently I would do the same tasks now.<br><br>
    Thanks for reading, <br><br>
    Steven A. Horne<br>
    Site Developer
    
    </p>
</div>
</div>