{% extends 'base.html' %}
{% block title %} Admin Page {% endblock %}

{% block content %}

<section class="container-fluid view">
    <div class="row">

        <div class="col-sm-12">
            <div class="content-wrap">
            <h3>Admin Page</h3>
            <p>Please choose from one of the following options:</p>
            </div>
        </div>

        <div class="col-sm-12">
        <div class="content-wrap">
            <button class="btn btn-primary admin-button" onclick="createBlog()">Create Blog Post</button>
            <a class="btn btn-primary admin-button" href="{{ url_for('edit') }}">Edit</a>
            <button class="btn btn-primary admin-button" onclick="deleteBlog()">Delete Blog Post</button>
        </div>
        </div>

        <div class="col-sm-12">
        <div class="content-wrap">
            <p>Please NOTE that once posts have been edited or deleted changes <strong>CANNOT</strong> be undone</p>
            </div>
        </div>


    </div>

    <!-- Create New Blog Post-->
    <div class="row" id="create">

        <div class="col-sm-12">
            <div class="content-wrap">
            <form action="{{ url_for('add') }}" method="POST" class="col s12">
                <div class="row">
                    <div class="col-sm-12 admin-function">
                       <h5>Create New Post</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="blog_title">New Post Title</label>
                        <input id="blog_title" name="blog_title" type="text" class="form-control" placeholder="Enter Post Title" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="blog_content">Post Content</label>
                        <textarea rows="5" id="blog_content" name="blog_content" type="text" class="form-control" placeholder="Enter your post" required></textarea>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-secondary submit-button" type="submit">Add Post
                    </button>
                </div>
            </form>
        </div>
        </div>

    </div>

</section>

{% endblock %}