<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Steven A. Horne - Milestone 3 - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css"/>
</head>
    
</head>
<body>
<h1>Steven A. Horne</h1>
<h3>Web Design &middot; Art &middot; Photography</h3>    

{% block content %}
<a href="{{ url_for('get_skills') }}">Skills</a><br><br>
<a href="{{ url_for('experience') }}">Experience</a><br><br>
<a href="{{ url_for('education') }}">Education</a><br><br>
Home Page
{% endblock %}

</body>
</html>