{% extends 'base.html' %}
{% block title %} Blog {% endblock %}

{% block content %}
<div class="blog-wrap view">
<section class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <div class="content-wrap">
                <h3>My Blog</h3>
                <p>Welcome to My Blog!  Here I have documented my experiences, trials and tribulations as a web designer and developer.  If you would like to contribute to my blog, 
                please get in touch using my contact page, I would love to hear from you.</p>
            </div>
        </div>
    </div>
</section>

{% for blog in my_blog %}
<section class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-wrap">
                <div class="blog-post">
                    <div class="blog-title">
                        <p>{{blog.blog_title}}</p>
                        <p class="author">by {{blog.blog_author}}</p>
                    </div>
                    <div class="blog-content">
                        <p>{{blog.blog_content}}</p>
                    </div>
                    <div class="row blog-footer">
                        <div class="col-sm-12 col-md-3">
                            <p>Created on: {{blog.date_created}}</p>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            <p>Last updated: {{blog.last_updated}}</p>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</section>

{% endfor %}
{% endblock %}
</div>