{% extends 'base.html' %}
{% block title %} Blog {% endblock %}

{% block content %}

{% for blog in entry %}

<section class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="blog-post">
                <div class="blog-title">
                    <strong>{{blog.blog_title}}</strong>
                </div>
                <div class="blog-content">
                    <p>{{blog.blog_content}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endfor %}
{% endblock %}