<section class="container-fluid info">
    <div class="row">
        
        <div class="col-sm-12">
            <div class="intro">
            <h3>Contact Me</h3>
                <p>
                Welcome to my Contact page! <br><br>
                Please feel free to contact me with any queries, comments or feedback using the form below.<br><br>

                I look forward to hearing from you.
                </p>
            </div>
        
        </div>
        
        <div class="col-sm-12">

            <div class="center-form">
                <form onsubmit="return sendMail(this);">
                    <input type="text" name="name" class="form-control" id="fullname" placeholder="Name" required/>
                    <input type="text" name="emailaddress" class="form-control" id="emailaddress" placeholder="Email" required/>
                    <textarea rows="5" name="usertext" class="form-control" id="usertext" placeholder="Please enter query or comments here ..." required></textarea>
                    <button type="submit" class="btn btn-secondary center-block">Send</button>
                </form>
            </div>

        </div>
    </div>
</section>
