<div class="view nav-margin">
<div class="row admin">
   
    <div class="col-sm-12">
        <div class="content-wrap">
            <h3>Contact Me</h3>
            <p>
            Welcome to my Contact page! <br><br>
            Please feel free to contact me with any queries, comments or feedback using the form below.<br><br>

            I look forward to hearing from you.
            </p>
        </div>       
    </div>
    
    <div class="col-sm-12">
        <div class="content-wrap">
            <div class="center-form">
                <form id="contactForm" name="contactForm" onsubmit="return sendMail(this);">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Name" required/>
                    <input type="text" name="email" class="form-control" id="email" placeholder="Email" required/>
                    <textarea rows="5" name="message" class="form-control" id="message" placeholder="Please enter query or comments here ..." required></textarea>
                    <button type="submit" value="Submit" class="btn btn-primary center-block">Send</button>
                </form>
            </div>
        </div>
    </div>

</div>
</div>
