{% extends 'base.html' %}
{% block title %} Edit Blog Post {% endblock %}

{% block content %}

{% for blog in entry %}
<form action="{{ url_for('update_blog', blog_id=blog._id) }}" method="POST">
<div class="blog-post">
<input id="blog_title" name="blog_title" type="text" class="validate" value="{{blog.blog_title}}">
<textarea rows="5" id="blog_content" name="blog_content" type="text" class="form-control" required></textarea>
</div>
        <button class="btn btn-warning admin-button" type="submit" name="action">Edit Task
        </button>
</form>



{% endfor %}
{% endblock %}