{% extends 'base.html' %}
{% block title %} Education {% endblock %}

{% block content %}
{% for education in skills %}


<section class="container-fluid info">
    <div class="row">
        <div class="col-sm-12">
            <h3>My Education</h3>
        </div>
    </div>  
</section>

<section class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
        
            <!-- Timeline -->
            <div class="timeline">
                <div class="event left">
                    <div class="content qual">
                        <h2>{{ education.qual2020[0] }}</h2>
                        <p>{{ education.qual2020[1] }}</p>
                        <p>{{ education.qual2020[2] }}</p>
                    </div>
                </div>
                <div class="event right">
                    <div class="content work">
                        <h2>{{ education.work2018[0] }}</h2>
                        <p>{{ education.work2018[1] }}</p>
                        <p>{{ education.work2018[2] }}</p>
                    </div>
                </div>
                <div class="event left">
                    <div class="content qual">
                        <h2>{{ education.qual2013[0] }}</h2>
                        <p>{{ education.qual2013[1] }}</p>
                        <p>{{ education.qual2013[2] }}</p>
                    </div>
                </div>
                <div class="event right">
                    <div class="content work">
                        <h2>{{ education.work2011[0] }}</h2>
                        <p>{{ education.work2011[1] }}</p>
                        <p>{{ education.work2011[2] }}</p>
                    </div>
                </div>
                               
                <div class="event left">
                    <div class="content work">
                        <h2>{{ education.work2003[0] }}</h2>
                        <p>{{ education.work2003[1] }}</p>
                        <p>{{ education.work2003[2] }}</p>
                    </div>
                </div>
                <div class="event right">
                    <div class="content qual">
                        <h2>{{ education.qual2003[0] }}</h2>
                        <p>{{ education.qual2003[1] }}</p>
                        <p>{{ education.qual2003[2] }}</p>
                    </div>
                </div>
                <div class="event left">
                    <div class="content work">
                        <h2>{{ education.work2000[0] }}</h2>
                        <p>{{ education.work2000[1] }}</p>
                        <p>{{ education.work2000[2] }}</p>
                    </div>
                </div>
                <div class="event right">
                    <div class="content qual">
                        <h2>{{ education.qual1999[0] }}</h2>
                        <p>{{ education.qual1999[1] }}</p>
                        <p>{{ education.qual1999[2] }}</p>
                    </div>
                </div>
                <div class="event left">
                    <div class="content qual">
                        <h2>{{ education.qual1998[0] }}</h2>
                        <p>{{ education.qual1998[1] }}</p>
                        <p>{{ education.qual1998[2] }}</p>
                    </div>
                </div>
                <div class="event right">
                    <div class="content work">
                        <h2>{{ education.work1996[0] }}</h2>
                        <p>{{ education.work1996[1] }}</p>
                        <p>{{ education.work1996[2] }}</p>
                    </div>
                </div>
                <div class="event left">
                    <div class="content qual">
                        <h2>{{ education.qual1990[0] }}</h2>
                        <p>{{ education.qual1990[1] }}</p>
                        <p>{{ education.qual1990[2] }}</p>
                    </div>
                </div>
            </div>
            <!-- End of Timeline-->

        </div>
    </div>
</section>

    {% endfor %}
{% endblock %}
</body>
</hml>