{% extends 'base.html' %}
{% block title %} Steven A. Horne - Home Page {% endblock %}

{% block content %}
<!-- Title section -->

<section class="container-fluid nav-margin">
    <div class="row d-flex flex-wrap content-bg">
        <div class="col-sm-12">
            <div id="title" class="content-wrap">
                <h1 class="main-title">Steven A. Horne</h1>
                <h3 class="sub-title">Web designer & Full Stack Developer</h3>
                <h5>
                Welcome to my site!  I am a web designer and developer based in the Scottish Highlands. 
                </h5>                
            </div>
        </div>
    </div>
</section>

<section id="about" class="container-fluid">
{% include 'about.html' %}
</section>
<section id="education" class="container-fluid">
{% include 'education.html' %}
</section>
<section id="experience" class="container-fluid">
{% include 'experience.html' %}
</section>
<section id="contact" class="container-fluid">
{% include 'contact.html' %}
</section>
{% endblock %}


