{% extends 'base.html' %}
{% block title %} Steven A. Horne - Home Page {% endblock %}

{% block content %}
<!-- Title section -->

<section class="container-fluid nav-margin">
    <div class="row content-bg">
        <div class="col-sm-12">
            <div class="content-wrap img-responsive">
                <h1>Steven A. Horne</h1>
                <h3>Web Designed & Full Stack Developer</h3>
                <h5>
                Welcome to my site!  I am a web designer and developer based in the Scottish Highlands. 
                </h5>
                <p>As well as web development, my other fields are Art and Photography.  If this is more your forté, please visit my sister site here.</p>
                
            </div>
        </div>
    </div>
</section>

<section id="contact" class="container-fluid">
{% include 'contact.html' %}
</section>

{% endblock %}

