{% extends 'base.html' %}
{% block title %} Steven A. Horne - Home Page {% endblock %}

{% block content %}
<!-- Title section -->

<section class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-wrap">
                <h1>My Title</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed dolore ex accusantium nulla dignissimos atque saepe, reiciendis laboriosam ullam ipsa quis fuga, ab maiores impedit deserunt. Eum facere sunt esse?</p>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="container-fluid">
{% include 'contact.html' %}
</section>
{% endblock %}

